html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.App {
  display: flex;
}

.navbar {
  min-height: 100vh;
  background-color: #982121;
  min-width: 20%;
  max-width: 20%;
}

.navbar ul {
  margin-top: 20%;
}

.navbar li {
  text-align: center;
  font-size: 30px;
  color: #FFB80E;
  margin-top: 18%;
}

.navbar li:hover {
  cursor: pointer;
  color: white;
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.welcome {
  margin-top: 4%;
  font-size: 32px;
}

.welcome h2 {
  margin-left: 6%;
  margin-bottom: 32%;
}

.welcome h1 {
  font-style: italic;
  font-weight: bold;
  font-size: 48px;
  margin-left: 40%;
  margin-bottom: 32%;
}

.welcome h1 span {
  margin-left: 40%;
}

.welcome p {
  width: 342px;
  margin-left: 6%;
}

.welcome p span {
  font-style: italic;
}

.random {
  margin-top: 5%;
  margin-right: 2%;
}

.random img {
  width: 960px;
  height: 720px;
}

.random button {
  width: 216px;
  height: 56px;
  background-color: #982121;
  border-radius: 6px;
  margin-top: 4%;
  margin-left: 40%;
  color: #FFB80E;
  font-size: 24px;
}

.random button:hover {
  cursor: pointer;
}

.top-bar {
  display: flex;
  margin-top: 4%;
  margin-bottom: 4%;
  justify-content: space-between;
  width: 79.3vw;
  border-bottom: 1px solid black;
}

.top-bar h1 {
  font-size: 48px;
  font-style: italic;
  font-weight: bold;
  margin-left: 8%;
}

.top-bar h1 span {
  margin-left: 48%;
}

.top-bar h4 {
  margin-right: 35%;
  margin-top: 7.5%;
  font-size: 24px;
  font-style: italic;
}

.recipes {
  display: flex;
  margin-left: 2%;
  margin-bottom: 2%;
  font-size: 18px;
  border-bottom: 1px dotted black;
  margin-right: 8%;
}

.recipes h4 {
  width: 220px
}

.recipes p {
  margin-left: 20%;
}

.recipes button {
  width: 171px;
  height: 34px;
  color:#FFB80E;
  background-color: #982121;
  border-radius: 6px;
  margin-left: 10%;
  font-size: 22px;
  margin-bottom: 1%;
}

.recipes button:hover {
  cursor: pointer;
}

.search-bar {
  margin-left: 8%;
  margin-bottom: 2%;
}

.search-bar input {
  width: 30%;
  border: none;
  border-bottom: 1px solid black;
  font-style: italic;
  font-size: 18px;
}

.search-bar input:focus {
  outline: none;
}

.button button {
  width: 171px;
  height: 34px;
  color:#FFB80E;
  background-color: #982121;
  border-radius: 6px;
  margin-left: 8%;
  font-size: 18px;
  margin-bottom: 1%;
}

.button button:hover {
  cursor: pointer;
}

.details-container {
  display: flex;
  justify-content: space-between;
}

.image-container {
  float: right;
  margin-right: 8%;
}


.details h4 {
  font-size: 26px;
  font-style: italic;
  margin-left: 8%;
  margin-top: 2%;
  margin-bottom: 4%;
}

.details h3 {
  font-size: 26px;
  font-style: italic;
  margin-left: 8%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.details h5 {
  font-size: 26px;
  font-style: italic;
  margin-left: 8%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.details ol {
  margin-left: 8%;
  margin-bottom: 6%;
}

.ingredients li {
  margin-bottom: 1%;
}

.steps li {
  font-size: 24px;
  width: 80%;
  margin-bottom: 1%;
}

.blog-list {
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
}

.review-card{
    border: 1px solid black;
    width: 20%;
    height: 240px;
    margin-left: 8%;
    border-radius: 6px;
    text-align: center;
    background-color: #FFB80E;
    font-style: italic;
    margin-bottom: 2%;
    overflow: auto;
  }
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */

/* .review-card:hover{
  background-color:#FFF8DC ;
} */

.review-card-image {
  width: 40%;
  height: 99%;
  padding-top: 4%;
  padding-bottom: 4%;
}
.review-card-name{
 font-size: 16px;
 float: left;
 margin-left: 4%;
 margin-top: -4%;
}

.review-image {
  height: 40%;
}

/* .form{
  font-family: inherit;
  display:grid;
  position: relative;
  top: 400px; 
} */

.edit-button{
  color: #982121;
  font-size: 20px;
  float: right;
  margin-right: 1%;
  font-style: normal;
}
.edit-button:hover{
  cursor:pointer;
}


#favorite-button{
  margin-left: 0px;
  padding: 0;
  border: none;
  background: none;
  font-size: 25px;
}

.review-button {
  width: 171px;
  height: 34px;
  color:#FFB80E;
  background-color: #982121;
  border-radius: 6px;
  margin-left: 8%;
  font-size: 18px;
  margin-bottom: 1%;
}

.review-button:hover {
  cursor: pointer;
}

.review-form span {
  font-size: 24px;
  font-style: italic;
}

.review-form .input {
  width: 20%;
  border: none;
  border-bottom: 1px solid black;
  font-style: italic;
  font-size: 18px;
  margin-left: 6%;
  margin-bottom: 2%;
}

.review-form .input:focus {
  outline: none;
}

.review-form {
  text-align: center;
  margin-top: 4%;
}

.review-p {
  margin-right: 28%;
  font-size: 24px;
  font-style: italic;
  margin-top: 2%;
}

.review-post-textbox {
  width: 37%;
  text-align: left;
  margin-top: 1%;
  height: 140px;
  resize: none;
  font-style: italic;
}

.add-review-button {
  width: 171px;
  height: 34px;
  color:#FFB80E;
  background-color: #982121;
  border-radius: 6px;
  font-size: 18px;
  margin-bottom: 1%;
  margin-top: 2%;
  margin-right: 15%;
}

.add-review-button:hover {
  cursor: pointer;
}

.nevermind-button {
  width: 171px;
  height: 34px;
  color:#FFB80E;
  background-color: #982121;
  border-radius: 6px;
  font-size: 18px;
  margin-bottom: 1%;
  margin-top: 2%;
}

.nevermind-button:hover {
  cursor: pointer;
}